{
    "stageHost": "<hostname or ip address>",
    "prodHost": "<hostname or ip address>",
    "username": "<username>",
    "password": "<password>",
    "sauce_name": "projectname",
    "sauce_key": "<guid>"
}