@import '../../agrc/themes/standard/locate/FindAddress.css';
@import '../../agrc/themes/standard/locate/FindGeneric.css';
@import '../../agrc/themes/standard/map/BaseMap.css';
@import 'MapDataFilter.css';
@import 'ListPicker.css';
@import 'ListProviders.css';
@import 'ProviderResult.css';
@import 'MapDisplayOptions.css';
@import 'GeoSearch.css';
@import 'HelpPopup.css';
@import 'Feedback.css';
@import 'SmallerScreens.css';

.broadband-app {
    height: 100%;
    width: 100%;
}
body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: 'Open Sans', sans-serif;
    font-size: 0.85em;
    color: #333;
}
a, a:link, a:active {
    color: #3C6489;
    outline: medium none;
    text-decoration: underline;
}
a:hover {
    color: #666666;
}
body, #preloader {
    height: 100%;
    width: 100%;
    background: url('http://168.180.161.9/broadband/app/resources/images/brillant.png') white;
}
#preloader {
    position: absolute;
    left: 0px;
    z-index: 9999;
    padding: 20px;
    font-size: 1.5em;
}
.side-nav {
    width: 280px;
    overflow-x: hidden;
    overflow-y: auto;
    background: white;
    padding: 8px;
    position: absolute;
    top: 15px;
    bottom: 15px;
}
h2, h3 {
    font-family: "Helvetica Neue",Arial,Helvetica,"Nimbus Sans L",sans-serif;
    font-weight: normal;
    color: #666;
}
h2 {
    margin: 10px 0;
    height: 35px;
    line-height: 34px;
    border-bottom: 1px dotted #CCC;
    font-size: 22px;
}
h2.first-header {
    margin-top: 0;
}
h3 {
    margin: 0;
}

/* header */
.header-container {
    padding: 0 8px;
    height: 67px;
}
.logo {
    background: url("http://168.180.161.9/broadband/app/resources/images/logo-broadband.png") no-repeat scroll -22px -4px transparent;
    width: 400px;
    height: 60px;
    display: block;
    float: left;
}
/* Navigation Menu */
.nav {
    display: block;
}
.main-navigation {
    margin-top: 24px;
    margin-top: 1.714285714rem;
    text-align: center;
}
/*.main-navigation li {
    margin-top: 24px;
    margin-top: 1.714285714rem;
    font-size: 12px;
    font-size: 0.857142857rem;
    line-height: 1.42857143;
}*/
.main-navigation a {
    color: #5e5e5e;
}
.main-navigation a:hover {
    color: #21759b;
}
.main-navigation ul.nav-menu,
.main-navigation div.nav-menu > ul {
    display: none;
}
.main-navigation ul.nav-menu.toggled-on,
.menu-toggle {
    display: inline-block;
}
.main-navigation ul.nav-menu,
.main-navigation div.nav-menu > ul {border-bottom: 1px solid #ededed;border-top: 1px solid #ededed;display: inline-block !important;text-align: left;width: 100%;   }
.main-navigation ul {margin: 0;text-indent: 0;}
.main-navigation li a,
.main-navigation li {display: inline-block;text-decoration: none;}
.main-navigation li a {border-bottom: 0;color: #6a6a6a;line-height: 3.692307692;text-transform: uppercase;white-space: nowrap;}
.main-navigation li a:hover {color: #000;}
.main-navigation li {margin: 0 40px 0 0;margin: 0 2.857142857rem 0 0;position: relative;}
.main-navigation li ul {display: none;margin: 0;padding: 0;position: absolute;top: 100%;z-index: 1;}
.main-navigation li ul ul {top: 0;left: 100%;}
.main-navigation ul li:hover > ul {border-left: 0;display: block;}
.main-navigation li ul li a {background: #efefef;border-bottom: 1px solid #ededed;display: block;font-size: 11px;font-size: 0.785714286rem;line-height: 2.181818182;padding: 8px 10px;padding: 0.571428571rem 0.714285714rem;width: 180px;width: 12.85714286rem;white-space: normal;}
.main-navigation li ul li a:hover {background: #e3e3e3;color: #444;}
.main-navigation .current-menu-item > a,
.main-navigation .current-menu-ancestor > a,
.main-navigation .current_page_item > a,
.main-navigation .current_page_ancestor > a {color: #636363;font-weight: bold;}
.menu-toggle {display: none;}
/* Header Navigation */
div.nav-menu { 
    padding-right: 8px;
}
.main-navigation {
    margin-top: 0; 
    width: 550px; position: absolute; top: 32px; right: 0;
}
.main-navigation ul.nav-menu, .main-navigation div.nav-menu > ul {
    border-top: 0 none; border-bottom: 0 none; text-align: right;
}
.main-navigation li {
    margin: 0 0 0 40px;
}
.main-navigation li:first-child {
    display:none;
}
.main-navigation li a {
    color: #999999; text-transform: none;
}
.main-navigation li ul li {margin: 0; text-align: left;}
.main-navigation li ul li:first-child {display: block;}

.main-navigation ul li:hover > ul {box-shadow: 0 5px 6px #2D2D2D;}
.main-navigation li ul li a {background: url("http://168.180.161.9/broadband/app/resources/images/brillant.png") repeat scroll 0 0 #FFFFFF; width: 14rem; font-size: 12px;}
.main-navigation li ul li a:hover {background: none repeat scroll 0 0 #4c9bbb; color: #FFF;}


.header-search {position: absolute; top:0; right:0;}
.header-search input[type="text"] {background: url("../images/search.png") no-repeat scroll right 3px white; border-radius: 4px 4px 4px 4px; padding: 4px 9px; width: 190px;}
.header-search #searchsubmit {display: none;}

.nav-menu {
    padding: 0;
}
.main-navigation {
    right: 25px;
    top: 23px;
}
.main-navigation li a {
    font-size: 12px;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}
.nav-menu .map-link {
    font-weight: bold;
    color: #636363
}
.nav-menu .sub-menu {
    z-index: 999;
}

/* middle */
.middle-div {
    box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 5px 0px inset;
    background-color: #EAEAEA;
    position: absolute;
    left: 0;
    top: 67px;
    bottom: 36px;
    width: 100%;
}
.side-nav, .center-div {
    box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.2);
    border: 0 !important;
}


/* left */
#left-nav {
    left: 15px;
}
#provider-results {
    margin: -1px;
}

/* center */
.center-div {
    position: absolute;
    left: 326px;
    right: 326px;
    top: 15px;
    bottom: 15px;
}

/* map */
#map {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 30px;
    width: 100%;
}
#loadingImg {
    position: absolute;
    bottom: 8px;
    left: 8px;
    z-index: 100;
    display: none;
}

/* map text */
#map-text {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 3px 0 5px 0;
    background: white;
}
.recovery-logo {
    vertical-align: middle;
    margin-right: 8px;
}
#map_zoom_slider {
    left: 15px !important;
    top: 15px !important;
}
#feedbackLink {
    color: #004E93;
    text-decoration: underline;
    cursor: pointer;
}

/* right */
#right-nav {
    right: 15px;
}
#map-data-filter {

}
#data-filter-button {
    top: 2px;
}
#map-options-button {
    top: 23px;
}

/* footer */
.footer-div {
    position: fixed;
    bottom: 0;
    width: 100%;
}
.footer-div table {
    width: 100%;
}
.footer-div table td {
    text-align: center;
}
.footer {
    color: #8D9999 !important;
    margin: auto;
}
.footer a {
    text-decoration: none;
    color: #8D9999 !important;
}

/* dialogs */
.disclaimer-btn {
    float: right;
    margin-bottom: 10px;
}
.disclaimer-dialog {
    width: 488px;
    background-color: white;
}
.map-help-dialog, .about-map-dialog {
    width: 490px;
}

/* dojo overrides */
.dijitInline {
    vertical-align: top !important;
}

/* remove outline */
span:focus {
    outline: none;
}