@import '../../ijit/resources/notify/ChangeRequest.css';

.change-request {
    width: 300px;
}
.change-request textarea {
    width: 98%;
}
.change-request .dijitButton {
    margin-left: 0;
}
.change-request .submit-btn {
    float: right;
    margin-bottom: 8px;
}
.change-request-dialog {
    background: white;
}