.find-address .label-cell-inner {
    width: 50px;
}
.find-address table {
    width: 100%;
}
.find-address .text-box-cell {
    width: 100%;
}
.find-address .text-box-cell input {
    width: 97%;
    height: 18px;
    padding: 4px 2px;
    font-size: 14px;
}
.find-address .label-cell {
    text-align: right;
}
.find-address .help-block {
    color: #a94442;
}
.find-address .dijitButtonNode {
    height: 23px;
    padding: 2px 8px;
    width: 80px;
}