.geo-search {
	padding: 5px;
	position: absolute;
	top: 0px;
	right: 0px;
	z-index: 25;
	width: 200px;
}
/*
.geo-search .loader {
    background: url('http://168.180.161.9/broadband/app/resources/images/tiny_loader.gif') no-repeat scroll 0 0 transparent;
    position: absolute;
    right: 10px;
    top: 10px;
	width: 14px;
	height: 14px;
    display: none;
}
*/
.geo-search .search-img {
	background: url('http://168.180.161.9/broadband/app/resources/images/search_icon.png') no-repeat scroll 0 0 transparent;
	position: absolute;
	right: 9px;
	top: 9px;
	width: 16px;
	height: 16px;
}
.geo-search .text-box {
	font-size: 14px;
	float: left;
	width: 198px;
	height: 22px;
}
.geo-search .matches-table {
	border: 1px solid #8BA0BD;
	width: 100%; /* TODO: IE doesn't like this */
	background-color: white;
	font-size: 12px;
	display: none;
	float: left;
}
.geo-search .matches-table td {
	padding: 2px;
	border: solid 1px white;
}
.geo-search .matches-table td:hover {
	background-color: #D7E7F4;
	cursor: pointer;
}
.geo-search .matches-table .highlighted-row {
    background-color: #D7E7F4;
}
.geo-search .shadow {	
	-moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
}
.geo-search .hidden-cell {
	display: none;
}
.geo-search .selected-cell {
    background-color: #D7E7F4;
}

/* dojo hacks */
.geo-search .go-button .dijitButtonNode {
	-moz-border-radius: 0px;
}
.geo-search INPUT {
	font-family: Verdana, Arial, Helvetica, sans-serif !important;
	font-size: 13px !important;
}