.help-popup {
	width: 16px;
	height: 16px;
	position: absolute;
	z-index: 99;
	top: 5px;
	right: 5px;
}
.help-popup .image {
	background: url('http://168.180.161.9/broadband/app/resources/images/help.png') no-repeat scroll center;
	width: 16px;
	height: 16px;
	position: absolute;
	cursor: pointer;
}
.hp-dialog {
	width: 300px;
}
.help-container {
    position: relative;
}