.list-picker h1 {
	margin-bottom: 2px;
}

.list-picker {
    height: 255px;
    width: 606px;
}

.list-picker table {
    width: 100%;
}

.list-picker .list-box {
    width: 275px;
    height: 200px;
}

.list-picker .buttons {
    margin-left: auto;
    margin-right: auto;
}

.list-picker .buttons-top {
    top: 30px;
}

.list-picker .buttons-bottom {
    bottom: 30px;
}

.list-picker .btn-container {
    position: absolute;
    right: 10px;
    margin-top: 5px;
}

.list-picker .tip-container {
	float: left;
    width: 360px;
}
