.list-providers .grid-container {
	margin: 0px 3px 5px 0px;
    overflow-y: auto;
	position: relative;
	width: 282px;
}
.list-providers .header-row {
	font-weight: bold;
	height: 22px;
	margin-top: 2px;
}
.list-providers .push-pin-image {
    float: left;
    margin: 5px;
}
.list-providers .instructions {
    margin-top: 5px;
}
.list-providers .or-container {
	text-align: center;
	margin-top: 2px;
}
.list-providers .name-col {
	float: left;
	width: 150px;
	margin: 3px;
	height: 17px;
	overflow: hidden;
}
.list-providers .speeds-col {
	float: left;
	margin: 3px;
}
.list-providers .even-row {
    background-color: #D7E7F4;
	border-color: #D7E7F4;
}
.list-providers .clear-button {
	float: right;
}
.list-providers .header {
    font-size: 20px;
    margin-top: 10px;
}
.list-providers #standbyTarget {
    height: 100%;
}
.list-providers .provider-results-container {
	position: relative;
}
.list-providers .placeholder-img {
	margin: 0 auto;
	display: block;
}
.list-providers .sat-link, 
.list-providers .resellers-link a {
    color: #004E93;
}
.list-providers .sat-link {
    text-decoration: underline;
    cursor: pointer;
	padding-top: 4px;
    text-align: center;
}
.list-providers .resellers-link {
    text-align: center;
}
.list-providers .warning {
    background-color: lightYellow;
    border: 1px solid #769DC0;
    text-align: center;
	display: none;
	padding-bottom: 2px;
}
.list-providers .results {
	display: none;
}
.list-providers .coords-msg {
	font-size: 9px;
	text-align: center;
}
