.map-display-options {
	margin-top: 10px;
	position: relative;
}
.map-display-options .slider-container {
	margin-top: 3px;
	height: 30px;
	float: none;
}
.map-display-options .right-label {
	float: right;
}
.map-display-options .left-label {
	float: left;
}
.map-display-options .slider-label {
	margin: 3px 5px;
	font-size: 9px;
	color: gray;
}
.map-display-options .legend {
    height: 19px;
    width: 70px;
	float: left;
	margin-left: 22px;
	margin-top: 3px;
}
.map-display-options .overlay-legend {
	background-color: #005CE6;
}
.map-display-options .fieldset{
	
}
.map-display-options .gray{
	background-color: gray !important;
}
.map-display-options .combobox{
	margin-left: 5px;
}
.map-display-options .basemap-label{
	position: relative;
	top: 1px;
}
.map-display-options .basemaps-legend {
	background-color: black;
}
.map-display-options .radio-button-container {
	margin-left: 20px;
	margin-bottom: 8px;
}
