.map-display-options {
	margin-top: 10px;
	position: relative;
}
.map-display-options .slider-container {
	margin-top: 10px;
	height: 30px;
	float: none;
}
.map-display-options .right-label {
	float: right;
}
.map-display-options .left-label {
	float: left;
}
.map-display-options .slider-label {
	margin: 3px 5px;
	font-size: 9px;
	color: gray;
}
.map-display-options .combobox{
	margin-left: 5px;
}
.map-display-options .legend {
    height: 12px;
    width: 30px;
	float: left;
	margin-right: 5px;
	margin-top: 2px;
}
.map-display-options .pop-legend {
	background-color: #5E2A2A;
}
