.provider-result {
	height: 22px;
	border: 1px solid white;
}
.provider-result:hover {
	border: 1px solid #AAD0F2;
}
.provider-result .chart-div {
    width: 110px;
    height: 16px;
}
.provider-result .tooltip-content {
	display: none;
}
/* can't use nested class because
 * tooltip is child of body tag
 */
.provider-results-tooltip-table {
	margin: -5px;
}
.provider-results-tooltip-label {
	font-weight: bold;
}
