<div>
    <!-- TOP -->
    <div class='header-container'
        data-dojo-attach-point='headerContainer'>
        <a href data-dojo-attach-point="popoutLink"></a>
        <a href='https://broadband.utah.gov' target='_blank' class='logo'></a>
        <span class="title">Utah Residential Broadband Map</span>
    </div>
    <div data-dojo-attach-point="popoutMenu"></div>

    <!-- MIDDLE -->
    <div class='middle-div'
        data-dojo-attach-point='middleContainer'>

        <!-- LEFT -->
        <div data-dojo-attach-point="leftNav"
            class="side-nav">
            <div id="list-providers"></div>
        </div>

        <!-- CENTER -->
        <div class="center-div">
            <div id="map" data-dojo-attach-point='mapDiv'>
                <div id='geo-search'></div>
            </div>

            <!-- BOTTOM -->
            <div id="map-text">
                <div style='text-align: center;'>
                    <a href='' data-dojo-attach-point='mapHelpText'>Map Help</a>
                     | <a href='' data-dojo-attach-point='feedbackLink'>Report a Problem</a>
                     | <a href="" data-dojo-attach-point='aboutMapText'>About This Map</a>
                     | <a href='https://broadband.utah.gov/about/about-the-interactive-map/mapresources/' target='_blank'>Other Maps & Resources</a>
                     | <a data-dojo-attach-point='printLink' href=''
                            data-dojo-attach-event='click: onPrintLinkClick'>Print Map</a>
                </div>
            </div>
        </div>

        <!-- RIGHT -->
        <div data-dojo-attach-point="rightNav"
            class="side-nav">
            <div id="map-data-filter"></div>
            <div id='map-display-options'></div>
        </div>

    </div>

    <!-- FOOTER -->
    <div class='footer-div'>
        <table>
            <tbody>
                <tr>
                    <td>
                        <font size='2' face='Arial, Helvetica, sans-serif'>
                            <div class="footer">
                                <a href="https://www.utah.gov/main/index" class="links" target="new">Utah.gov Home</a>
                                | <a href="https://www.utah.gov/disclaimer.html" class="links" target="new">Utah.gov Terms of Use</a>
                                | <a href="https://www.utah.gov/privacypolicy.html" class="links" target="new">Utah.gov Privacy Policy</a>
                                |&nbsp;<a href="https://www.utah.gov/accessibility.html" class="links" target="new">Utah.gov Accessibility Policy</a>
                                | <a href="https://www.utah.gov/translate.html">Translate Utah.gov</a>
                            </div>
                        </font>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div data-dojo-attach-point='disclaimerDialog'
        data-dojo-type='dijit/Dialog'
        title='Disclaimer'
        class='disclaimer-dialog'>
        Broadband service availability and characteristics are depicted as derived from data assembled by the Utah Broadband Project. Data sources include biannual broadband service provider submissions and publicly available sources. Data has been modified, where necessary, to meet broadband mapping standards set by the National Telecommunications and Information Administration (NTIA).
        <p>Broadband service availability is displayed per NTIA specifications which include technology and speed categories and the aggregation of non-wireless service availability information to either U.S. Census blocks (where smaller than 2 sq. miles) or road segments.</p>
        <p>Speeds shown are the 'maximum advertised' for the geographic features depicted, and must exceed 0.768 Mbps download and 0.2 Mbps upload (NTIA broadband definition) to be included. Actual speeds may vary within and along census blocks and roads, due to the granularity and currency of the data, technological limitations, and service plan limitations. Users of the site are encouraged to inquire directly to providers for current service availability and speed.</p>
        <p>All information presented on the Utah's interactive broadband map is for general reference purposes only and may contain errors and omissions. The State of Utah makes no warranty with respect to information available, express or implied, including but not limited to the fitness for use for a particular purpose.</p>
        <p>The Utah Broadband Project welcomes your comments (<a href='mailto:broadband@utah.gov'>broadband@utah.gov</a>).</p>
        <label>
            <input data-dojo-attach-point="cbxDisclaimer" data-dojo-type="dijit/form/CheckBox">
            Don't show me this again.
        </label>
        <button data-dojo-attach-point='disclaimerBtn' class='disclaimer-btn'
            data-dojo-type='dijit/form/Button'>OK</button>
    </div>
    <div data-dojo-attach-point='mapHelpDialog'
        data-dojo-type='dijit/Dialog'
        title='Map Help'
        class='map-help-dialog'>
        <b>Zoom:</b> The map scale slider (upper left corner of map area) zooms the map in and out to your desired map scale.
        <p><b>Pan:</b> Click your left mouse button down and drag to pan the map to display a neighboring area on the map.</p>
        <p><b>Map Search:</b> The Map Search box (upper right corner of map area) will zoom to a placename that you enter into the box. Sample searches:
        <ul>
            <li>Salt Lake County</li>
            <li>Cottonwood Heights (city)</li>
            <li>84121 (zip)</li>
            <li>Rep 33 (house district)</li>
            <li>Arches National Park</li>
        </ul></p>
        <p><b>Provider Search:</b> A single click on the map will return a set of broadband providers who can provider service at the map click location.</p>
    </div>
    <div data-dojo-attach-point='aboutMapDialog'
        data-dojo-type='dijit/Dialog'
        title='About the Utah Broadband Map'
        class='about-map-dialog'>
        <p style='margin-top: 0px;'>Broadband service availability is depicted as derived from data assembled by the
        <a href='https://www.utah.gov/broadband/index.html' target='_blank'>Utah Broadband Project</a>.
        Data sources include biannual provider submissions and publicly available sources. Data has been aggregated, where necessary, to meet standards set by the NTIA. Speeds shown are 'maximum advertised' within census blocks and along roads. Actual availability and speed may vary for specific locations.</p>
        <p>
            <a href='https://broadband.utah.gov/about/about-the-interactive-map/' target='_blank'>More Map Information</a>
        </p>
        <p>
            <a href='https://broadband.utah.gov/utah-broadband-map-update-log/' target='_blank'>Broadband Data & Application Updates</a>
        </p>
        <p>
            <a data-dojo-attach-point="disclaimerLink" href='#'>Disclaimer</a>
        </p>
        <p>
            <a href="http://www.recovery.gov/Pages/default.aspx" target='_blank'>
                <img src='https://mapserv.utah.gov/broadband/app/resources/images/recoverydotgov_logo.png' alt='Recovery.gov' class='recovery-logo'/>
            </a>
        </p>
    </div>
    <div data-dojo-attach-point='feedbackWidgetDiv'></div>
    <div data-dojo-attach-point='printWidgetDiv'></div>
</div>
