<div>
	<form data-dojo-attach-point='formRedline'>
        <button data-dojo-type='dijit/form/Button' 
        	data-dojo-attach-point='btnRedline'>Pinpoint Issue</button>

        <div>
        	<label for="${id}_txt_description">Describe Issue:</label>
        	<textarea id="${id}_txt_description" rows='5'
        		data-dojo-attach-point="txtDescription"></textarea>
        	<span class="help-inline error">Required!</span>
        </div>

        <div>
        	<button type="submit" class='submit-btn' data-dojo-type='dijit/form/Button'
        		data-dojo-attach-point='btnSubmit'>Send</button>
        	<span data-dojo-attach-point='errorMsg'
        		class="help-inline error">Uh oh!</span>
        </div>
    </form>
</div>
