<div>
    <form data-dojo-attach-point='formGeocode'>
        <table>
            <tbody>
                <tr>
                    <td class="label-cell">
                        <!-- the inner div is to control the width of the column -->
                        <div class="label-cell-inner">
                            Address</div>
                    </td>
                    <td class="text-box-cell form-group">
                        <input type="text" class="form-control" data-dojo-attach-point="txtAddress" id="${id}_inputAddress">
                        <span class="help-block">Required!</span>
                    </td>
                </tr>
                <tr>
                    <td class="label-cell">
                        Zip or City
                    </td>
                    <td class="text-box-cell form-group">
                        <input type="text" class="form-control" data-dojo-attach-point="txtZone" id="${id}_input_zone"> 
                        <span class="help-block">Required!</span>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td class="btn-cell form-group dijitButton">
                        <button type="submit" 
                            class="btn btn-default dijitButtonNode" 
                            data-dojo-attach-point='btnGeocode'>Find</button> 
                        <span data-dojo-attach-point='errorMsg' class='help-block'>No match found!</span>
                    </td>
                </tr>
            </tbody>
        </table>
    </form>
</div>