<div class="list-picker">
	<table>
        <tr>
            <td>
                <h3><span data-dojo-attach-point="availableTitle"></span></h3>
                <select data-dojo-attach-point="availableList" 
					data-dojo-type="dijit.form.MultiSelect" 
					class="list-box">
                </select>
            </td>
            <td align="center" width="50px">
            	<div class="buttons-top">
	                <button data-dojo-attach-point="btnSelect" 
						data-dojo-type="dijit.form.Button" 
						class="buttons" 
						title='Move selected ${listName} right' 
						type='button'> > </button>
					<br>
					<button data-dojo-attach-point="btnSelectAll" 
						data-dojo-type="dijit.form.Button" 
						class="buttons" 
						title='Move all ${listName} right' 
						type='button'> >> </button>
				</div>
				<div style="height: 50px;"></div>
				<div class="buttons-bottom">
					<button data-dojo-attach-point="btnUnselect" 
						data-dojo-type="dijit.form.Button" 
						class="buttons" 
						title='Move selected ${listName} left' 
						type='button'> < </button>
					<br>
					<button data-dojo-attach-point="btnUnselectAll" 
						data-dojo-type="dijit.form.Button" 
						class="buttons" 
						title='Move all ${listName} left'
						type='button'> << </button>
				</div>
            </td>
            <td>
                <h3><span data-dojo-attach-point="selectedTitle"></span></h3>
                <select data-dojo-attach-point="selectedList" 
					data-dojo-type="dijit.form.MultiSelect" 
					class="list-box">
                </select>
            </td>
        </tr>
    </table>
	<div class="tip-container">
        Note: If you are on a mobile device, you may need to tap on the lists to see the provider names.
	</div>
	<div class="btn-container">
		<button data-dojo-attach-point="btnOK"
			data-dojo-type="dijit.form.Button" disabled>OK</button>
		<button data-dojo-attach-point="btnCancel"
			data-dojo-type="dijit.form.Button">Cancel</button>
	</div>
</div>
