<div class="list-providers">
	<div class='help-container'>
		<h2 class='first-header'>List Providers At</h2>
		<h3>Street Address</h3>
		<div data-dojo-attach-point='addressHelp'>
			<div style='display: none'>
				<b>Would you like a list of broadband providers for a specific location?</b>
				<p>Entering a street address and zipcode (or city) and clicking the 'Find' button will zoom the map to your location of interest and display a results list of providers in order of their maximum advertised speeds. Using your mouse, place the cursor over the Max Speeds bar graph to get the reported speed range and technology type(s) offered by each provider.</p>
				<p>The same information can be returned by simply clicking on any location on the map.</p>
			</div>
		</div>
		<div id='find-address'></div>
	</div>
	<div class='or-container'> - OR - </div>

	<div class='help-container'>
		<h3>Map Click</h3>
		<div data-dojo-attach-point='clickHelp'>
			<div style='display: none;'>
				At any map scale, a single click on the map will return a set of broadband providers who can provide service at the map click location. For best results, it is recommended that you first zoom in on your area of interest and then click for results.
				<br><br>Navigate to a map of your area by either:
				<ul>
					<li>typing a city, county, zipcode, or other placename into the Map Search box (upper right corner of map area) or,</li>
					<li>using the map zoom controls (in the upper left corner of the map area) together with 'click and drag' map panning to find your area of interest.</li>
				</ul>
			</div>
		</div>
		<img class='push-pin-image' alt='push pin' src='https://mapserv.utah.gov/broadband/app/resources/images/push_pin.png'>
		<div class='instructions'>Click anywhere on the map to see providers for that location.</div>
		<div style='clear: both;'></div>
	</div>

	<div class='provider-results-container'>
		<div data-dojo-attach-point='resultsHelp'>
			<div style='display: none;'>
				<img src='https://mapserv.utah.gov/broadband/app/resources/images/results_legend.png' alt='results legend'>
				<p>
				&#42;Qualifies as a facilities-based broadband provider, according to NTIA guidelines, but may lease physical connection to end users from other providers.
				</p>
			</div>
		</div>
		<h2>Provider Results</h2>
		<div id='standbyTarget'>
			<img data-dojo-attach-point='placeholderImg'
				class='placeholder-img'
				src='https://mapserv.utah.gov/broadband/app/resources/images/results_placeholder.png' alt='results'>
			<div data-dojo-attach-point='results' class='results'>
				<div data-dojo-attach-point='warning' class='warning'><b>Warning</b><br>The results shown reflect the current data filters you have defined on the right side of the page.</div>
				<div class='header-row even-row'>
					<div class='name-col'>Provider Name</div>
					<div class='speeds-col'>Max Speeds</div>
				</div>
				<div class="grid-container" data-dojo-attach-point='provList'>
					<div data-dojo-attach-point='providerResultsContainer'></div>
					<div data-dojo-attach-point='telcomMsgContainer' class='hidden'>
						Telecom Service Area: <a data-dojo-attach-point='telcomMsg' href='' target='_blank'></a>
					</div>
					<div data-dojo-attach-point='satMsg' class='sat-link'>Satellite Providers</div>
					<div class="resellers-link">
						<a href="https://business.utah.gov/broadband/utah-broadband-providers">Resellers</a>
					</div>
					<div class='coords-msg'>
						For Location:
						<br>
						Lat/Long: <span data-dojo-attach-point='lat'></span>&#176 / <span data-dojo-attach-point='lng'></span>&#176
						<br>
						UTM83_z12N: <span data-dojo-attach-point='utmX'></span> / <span data-dojo-attach-point='utmY'></span>
					</div>
				</div>
				<button data-dojo-attach-point='btnClear'
					data-dojo-type="dijit/form/Button"
					class='clear-button'>
					Clear Results
				</button>
			</div>
		</div>
	</div>
</div>
