<div class="mapdatafilter">
    <div class='help-container'>
    	<h2 class='first-header'>Data Filters</h2>
    	<button data-dojo-attach-point='resetBtn' class='reset-button'
    		data-dojo-type='dijit/form/Button' disabled>Reset Filters</button>
        <h3>Maximum Advertised Speeds</h3>
    	<div data-dojo-attach-point='speedsHelp'>
    		<div style='display: none;'>
    			<b>Interested in mapping where broadband service is available within a specific speed range?</b>
     			<p>Move slider knobs to the right to remove broadband service areas from the map where speeds are below thresholds that you supply. Both download and upload speed thresholds can be set.</p>
    			<p>Remember that only the maximum advertised speeds, as reported by broadband providers or from available public sources, are displayed. Actual speeds will vary with the broadband technology employed and the customer's chosen service plan.</p>
    			<p>Also, please keep in mind that the speed filter works together with other filters to control the broadband service area shown on the map.</p>
    			<p><b>About Speed: What do the numbers mean?</b>
    				<p>Broadband connection speed is measured in megabits per second (Mbps). The more Mbps the faster you are able to send and receive information
    			(text, data, audio, video, etc) over your connection (<a href='http://168.180.161.9/broadband/app/resources/images/downloadtime.png' target='_blank'>view chart</a>).</p>
    		</div>
    	</div>
    	<div class="centered slider-title">Download Speeds</div>
        <div data-dojo-attach-point="downloadSlider"
    		class="slider down-slider"
    		value="9"
    		minimum="1" maximum="9"
    		discreteValues="9"
    		intermediateChanges="true"
    		showButtons="false"
    		data-dojo-type="dijit/form/HorizontalSlider" dir='rtl'> <!-- rtl so that sliders are colored on the right side of thumb -->
            <ol data-dojo-type="dijit/form/HorizontalRuleLabels" class="slider-label">
                <li>1000</li>
    			<li>100</li>
    			<li>50</li>
    			<li>25</li>
                <li>10</li>
                <li>6</li>
                <li>3</li>
                <li>1.5</li>
                <li>0.7</li>
            </ol>
    		<div class="centered slider-label" dir='ltr'>megabits per second (Mbps)</div>
    	</div>
    	<div data-dojo-attach-point="uploadSlider"
    		class="slider up-slider"
    		value="10"
    		minimum="1" maximum="10"
    		discreteValues="10"
    		intermediateChanges="true"
    		showButtons="false"
    		data-dojo-type="dijit/form/HorizontalSlider" dir='rtl'> <!-- rtl so that sliders are colored on the right side of thumb -->
    		<ol data-dojo-type="dijit/form/HorizontalRuleLabels" container="topDecoration" class="slider-label">
                <li>1000</li>
    			<li>100</li>
    			<li>50</li>
    			<li>25</li>
                <li>10</li>
                <li>6</li>
                <li>3</li>
                <li>1.5</li>
                <li>0.7</li>
    			<li>0.2</li>
            </ol>
    	</div>
    	<div class="centered slider-title">Upload Speeds</div>
    </div>
	<div id="tech-type-div" class='help-container'>
		<h3>Technology Type</h3>
	    <div data-dojo-attach-point='typeHelp'>
	        <div style='display: none;'>
	            The checkboxes control the map display of broadband service areas by type of technology.
	            <p>Uncheck a box and the map will redraw showing only broadband service areas that meet the checked technology type.</p>
                <p>Drag and drop the three main checkboxes to reorder the way the layers are drawn on the map.</p>
	            <p>Remember that the technology type filter works together with other filters to control the broadband service area shown on the map.</p>
	        </div>
	    </div>
        <div data-dojo-attach-point='dropTarget1'
            class='drop-target'
            data-drop-position='after'
            data-target-slot='1'></div>
        <div draggable="true" data-slot='1' data-layer-index='0' data-dojo-attach-point='draggable1'>
            <div> <!-- this extra nesting is required to make cbxWireBased and it's label
                show up in the drag shadow -->
                <div class='legend wireline'></div>
    		    <input data-dojo-attach-point="cbxWireBased"
    		        id="cbxWireBased"
	                class='legend-checkbox'
    		        data-dojo-type="dojox/form/TriStateCheckBox"
    		        data-dojo-props='states: ["on", false, "mixed"], value: "on", checked: true'>
    		    <label for="cbxWireBased" class='legend-label'>Wireline </label>
                <div class="clear-fix"></div>

                <div class='trans-list sub'>
                    <ul>
                        <li>
                            <input data-dojo-attach-point='cbxCable'
                                id='cbxCable'
                                data-dojo-type='dijit/form/CheckBox'
                                data-dojo-props='checked: true, value: [40,41]'>
                            <label for="cbxCable">Cable</label>
                        </li>
                        <li>
                            <input data-dojo-attach-point='cbxDSL'
                                id='cbxDSL'
                                data-dojo-type='dijit/form/CheckBox'
                                data-dojo-props='checked: true, value: [10, 20, 30]'>
                            <label for="cbxDSL">DSL</label>
                        </li>
                        <li>
                            <input data-dojo-attach-point='cbxFiber'
                                id='cbxFiber'
                                data-dojo-type='dijit/form/CheckBox'
                                data-dojo-props='checked: true, value: [50]'>
                            <label for="cbxFiber">Fiber</label>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div data-dojo-attach-point='dropTarget2'
            class='drop-target'
            data-drop-position='after'
            data-target-slot='2'></div>
        <div draggable="true" data-slot='2' data-layer-index='1' data-dojo-attach-point='draggable2'>
            <div>
                <div class="legend fixed-wireless"></div>
                <input data-dojo-attach-point='cbxFixedWireless'
                    id='cbxFixedWireless'
                    class='legend-checkbox'
                    data-dojo-type='dijit/form/CheckBox'
                    data-dojo-props='checked: true, value: [70, 71]'>
                <label for="cbxFixedWireless" class='legend-label'>Fixed Wireless </label>
                <div class="clear-fix"></div>
            </div>
        </div>
        <div data-dojo-attach-point='dropTarget3'
            class='drop-target'
            data-drop-position='before'
            data-target-slot='3'></div>
        <div draggable="true" data-slot='3' data-layer-index='2' data-dojo-attach-point='draggable3'>
            <div>
                <div class="legend mobile-wireless"></div>
                <input data-dojo-attach-point='cbxMobileWireless'
                    id='cbxMobileWireless'
                    class='legend-checkbox'
                    data-dojo-type='dijit/form/CheckBox'
                    data-dojo-props='checked: true, value: [80]'>
                <label for="cbxMobileWireless" class='legend-label'>Mobile Wireless </label>
                <div class="clear-fix"></div>
            </div>
        </div>
        <div data-dojo-attach-point='dropTarget4'
            class='drop-target'
            data-drop-position='before'
            data-target-slot='4'></div>
        <div class="clear-fix"></div>
		Satellite (<a data-dojo-attach-point='moreInfoLink' href=''>more info</a>)
	</div>
	<div class='providers-div help-container'>
		<h3>Providers</h3>
		<div data-dojo-attach-point='providersHelp'>
			<div style='display: none;'>
				<b>Interested in the availability of services from your current or other specific broadband provider?</b>
				<p>By default the map shows broadband service areas of all terrestrial wireless and wireline broadband providers.</p>
				<p>Users can view the reported service area of a specific provider or a subset of providers by clicking on the Select Providers button to open the Select Providers window.</p>
				<p>The Select Providers window allows users to build a subset of providers to view on the map. To add to the subset, click on a provider from the Available Providers list and click the '>' button to add that provider the Show Data For These Providers list. Additional providers can be added in the same manner. The '<' button removes selected providers in the Show Data For These Providers list. The '>>' and '<<' buttons add and remove, respectively, all providers.</p>
				<p>After building your intended subset of providers, click OK to close the Select Providers window and see the subset of providers displayed on the map.</p>
				<p>Clicking the Show All Providers button removes the provider subset filter to display all providers again. The provider subset filter can be applied to the map again by clicking Show Only The Following Providers, which will apply the current provider filter again.</p>
			</div>
		</div>
	</div>
	<input data-dojo-attach-point="chbxShowAll"
		data-dojo-type="dijit/form/RadioButton"
		id="chbxShowAll"
		name="providersGroup"
		checked>
		<label for="chbxShowAll">Show All Providers</label>
	<br>
	<input data-dojo-attach-point="chbxShowOnly"
		data-dojo-type="dijit/form/RadioButton"
		id="chbxShowOnly"
		name="providersGroup">
		<label for="chbxShowOnly">Show Only the Following Provider(s)</label>
	<button data-dojo-attach-point="btnSelectProviders" class="indent select-providers-btn"
		data-dojo-type="dijit/form/Button">Select Providers</button>
	<ul class="list" data-dojo-attach-point="providerList" style="margin-top: 0px;">
		<li>No Providers Selected</li>
	</ul>

	<div data-dojo-attach-point='resetDialog'
		data-dojo-type='dijit/Dialog'
		class='mdf-reset-dialog'
		title='Warning'>
		Any time you change the displayed providers the speeds and technology types are reset.
		<br>
		<br>
		<input data-dojo-attach-point='chbxShowAgain'
			id='chbxShowAgain'
			type='checkbox'
			data-dojo-type='dijit/form/CheckBox'
			class='ok-btn'
			checked>
		<label for='chbxShowAgain'>Don't show this dialog again.</label>
		<button data-dojo-attach-point='btnResetOK'
			data-dojo-type="dijit/form/Button"
			class='mdf-reset-ok-btn'>OK</button>
	</div>
    <div data-dojo-attach-point='satelliteDialog'
		data-dojo-type='dijit/Dialog'
		title='Satellite Providers Information'
		class='mdf-satellite-dialog'>
		<img alt='satellite image' src='http://168.180.161.9/broadband/app/resources/images/bbsat.png'>
        Satellite broadband availability is, effectively, statewide. In some remote areas of the Utah where broadband services are not otherwise available, satellite-based service may be the best or only option for Internet access.
		<p>However, buildings, tree cover, and terrain features that block a line of sight viewing angle of approximately 40 degrees above the horizon, will interfere with or prevent a successful satellite-based broadband connection.</p>
		<p>Additionally, consumers should be aware that satellite broadband service has a significantly high latency or delay factor than other broadband technologies that can significantly degrade real-time, communication used in VOIP telephone services, video-conferencing, gaming, etc.</p>
		<p>Maximum advertised speed for satellite-delivered broadband is generally 1.5 - 3.0 Mbps for download and 0.2 - 0.768 Mbps for upload.</p>
		<p>Satellite broadband providers identified for Utah:</p>
		<a href='http://www.hughesnet.com' target='_blank'>HughesNet</a><br>
        <a href="http://www.skycasters.com/" target="_blank">Skycasters</a><br>
        <a href="http://www.starband.net/Default.aspx" target='_blank'>Starband</a><br>
        <a href='http://www.viasat.com//' target='_blank'>ViaSat</a>
		<button data-dojo-attach-point='btnSatelliteOK'
			data-dojo-type="dijit/form/Button"
			class='mdf-reset-ok-btn'>OK</button>
    </div>
</div>
