<div class='map-display-options help-container'>
	<h2>Map Display</h2>
	<div class='fieldset'>
		<h3>Layers</h3>
		<div data-dojo-attach-point='displayHelp'>
			<div style='display: none;'>
				Areas where broadband is available are shown in a semi-transparent blue color by default. User can control the transparency level for this map layer to see more of the background layer or to emphasize the service areas.
			</div>
		</div>

		<!-- POPULATED AREAS -->
		<div data-dojo-attach-point='popLegend'
		class='legend pop-legend'></div>
		<input data-dojo-attach-event='onClick: _onPopCheckBoxClick'
			data-dojo-attach-point='popCheckBox'
			data-dojo-type='dijit/form/CheckBox'
			id='pop-checkbox'>
		<label for='pop-checkbox'>Populated Areas</label>
		<br>
		<div class='slider-container'>
			<div data-dojo-attach-point='popSlider'
				data-dojo-attach-event='onChange: _onPopSliderChange'
				data-dojo-type='dijit/form/HorizontalSlider'
				minimum='0' maximum='1'
				intermediateChanges='true'
				discreteValues='50'
				showButtons='false'
				class='slider'>
			</div>
			<span class='left-label slider-label'>Transparent</span>
			<span class='right-label slider-label'>Opaque</span>
		</div>
	</div>
</div>
