<div id='${id}' class='provider-result'>
	<div class='name-col'>
		<a href='${url}' target='_blank' title='Go To ${name} WebSite'>${name}</a>
	</div>
	<div data-dojo-attach-point='speedChart' class='speeds-col'></div>
	<div data-dojo-attach-point='ttContent' class='tooltip-content'>
		<table class='provider-results-tooltip-table'>
			<tbody>
				<tr>
					<td class='provider-results-tooltip-label'>
						Type(s):
					</td>
					<td>
						${transTypes}
					</td>
				</tr>
	            <tr>
	                <td class='provider-results-tooltip-label'>
	                    Download:
	                </td>
	                <td>
	                    ${maxdownDesc}*
	                </td>
	            </tr>
	            <tr>
	                <td class='provider-results-tooltip-label'>
	                    Upload:
	                </td>
	                <td>
	                    ${maxupDesc}*
	                </td>
	            </tr>
				<tr>
					<td colspan='2' style='font-size: smaller;'>
						*Maximum Advertised Speed
					</td>
				</tr>
			</tbody>
        </table>
	</div>
</div>
